body{
   background-image: url(../storage/スカイツリー.jpg);
   background-size: cover;
   background-repeat: no-repeat;
} 

h1 {
    color:white;
}

h3{
    color: white;
}

label {
    color: white;
}

input[type="file"] {
    color:white;
}