body {
     background-image:url(../storage/スカイツリー.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}
h3 {
    color: white;
}
.form-control {
    width: 150px;
}

.form-control:hover{
    cursor: pointer;
}

p {
    color:white;
}

.font-weight-bold{
    color: white;
}

.select-genre {
    color:white;
}

.serch-random {
    padding-top: 30px;
}
.serch-all {
    padding-top: 150px;
}
